<div *ngIf="filteredRecipes() as recipes; else noResults" class="card">
    <div>{{ recipes.length }} Results</div>
    <div class="row">
        <div class="col-2">
            <app-recipe-filter></app-recipe-filter>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-3 recipe-col" *ngFor="let recipe of recipes; trackBy: trackByRecipeId">
                    <div class="recipe-content" (click)="editRecipe(recipe)">
                        @defer(on viewport) {
                        <img class="recipe-content__image" [src]="'assets/recipes/' + recipe.imageUrl"
                            [alt]="recipe.title" />
                        }
                        @placeholder {
                        <div>Hover to load the image</div>
                        }
                        <div class="recipe-content__name">{{ recipe?.title }}</div>
                        <span class="recipe-content__time">{{ recipe?.prepTime }} min</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noResults>
    <div>There are no recipes</div>
</ng-template>